$text-color-green: #009b4d;
$text-color-light-grey: #26292d99;
$color-light: #f4f5f7;
$border-color-email-dark: #2b292d33;
$color-dark: #2b292d;
$text-color-blue: #3142c6;
$text-color-dark: #2b292d;
$color-white: #fff;
$shadow-color-black: #0000001a;
$shadow-color-light-black: #0000000d;
$shadow-color-light: #ffffff1a;
$text-color-dark-blue: #3141c5;
